-
  var siteName = "Derun VA CV"
  var nav = [
    {
      "title": "Про мене",
      "link": "/"
    },
    {
      "title": "Навички",
      "link": "/skils.html"
    },
    {
      "title": "Контакти",
      "link": "/contacts.html"
    }
  ] 
