include ../components/settings.pug
doctype html
html(lang="uk")
  include ../components/head.pug
  body
    include ../components/navigation.pug
    block content
    include ../components/scripts-section.pug
